.flip-card-button {
    background-color: transparent;
    transition: none;
}

.flip-card-button:hover {
    border-color: transparent;
}

.flip-card-button:focus {
    outline: none;
}

.flip-card {
    background-color: transparent;
    width: 4rem;
    height: 8rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    position: relative;
}

.reading .flip-card {
    height: 7rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 4rem;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipped .flip-card-inner {
    transform: rotateY(180deg);
    width: 6rem;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    /* -webkit-backface-visibility: hidden; Safari */
    backface-visibility: hidden;
    height: 7rem;
    top: 0;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.flip-card-image {
    background-color: white;
    filter: brightness(0.8);
    transition: filter 0.5s, transform 0.5s;
    box-sizing: content-box;
    border: 2px solid transparent;
}

@media (hover: hover) {
    .flip-card-button:hover {
        border-color: transparent;
    }

    .flip-card:hover .flip-card-image {
        transform: translateY(-1rem);
    }

    .reading .flip-card:hover .flip-card-image {
        transform: none;
        filter: brightness(1);
    }
}

.selected .flip-card-image {
    transform: translateY(-1rem);
}

.selected .flip-card-image {
    filter: brightness(1);
    border-color: gold;
}
